h1{
    padding:0px;
    margin:0px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 33px;
    color: white;
}

.box{
    border: 1px solid rgb(206, 206, 206);
    margin: 25px;
    margin-left: 0px;
    padding: 30px;
    padding-top: 20px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom, rgb(77, 193, 255) 70px, white 70px, white 100%);
}

#space{
    height: 200px;
}

td {
    border: 1px solid rgb(111, 194, 255);
    border-left: none;
    border-right: none;
    border-collapse: collapse;
}

table{
    margin-bottom: 30px;
    width: 100%;
}

td{
    padding: 10px;
    min-width: 150px;
    color: #393939;
}

td:nth-child(2){
    background-color: rgb(240, 252, 255);
}

td:nth-child(1){
    background-color: rgb(220, 247, 255);
    font-weight: bold;
}

td:nth-child(1)[colspan = "2"]{
    background-color: rgb(194, 241, 255);
}